@import '_variables';

.table-container {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
} // table-container end

table {
  outline: 10px solid $second-bg-color;
  border: 10px solid $main-bg-color;
  background: $second-bg-color;

  width: 100%;
  padding: 10px 0;
} // table end

td {
  text-align: center;
  max-width: 50px;
} // td end
