@import '_variables';

.table-container {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
} // table-container end

table {
  outline: 10px solid $second-bg-color;
  border: 10px solid $main-bg-color;
  background: $second-bg-color;

  width: 100%;
  padding: 10px 0;
} // table end

tr {
  display: flex;
  flex-direction: row;
  text-align: center;

  padding: 5px 0;
  td {
    display: flex;
    align-items: center;
    width: 25%;
    img {
      height: 40px;
      margin: auto 10px auto 0;
      align-self: flex-start;
    }
    p {
      margin: auto;
      &:nth-child(2) {
        margin: auto 0;
      }
    }
  } // td end
}

.td-active {
  background: $main-bg-color;
}
