@import '_variables';

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 14px;
  .button-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    &:nth-child(2) {
      justify-content: flex-end;
    }
    .nav {
      border: none;
      background: $second-bg-color;

      padding: 10px;
      margin: 0 5px;
      width: 80px;

      font-family: inherit;
      color: $main-text-color;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    } // nav end
    button {
      cursor: pointer;
      &:focus {
        outline: none;
        color: #000;
      } // :focus end
    } // button end
  } // button-container end
} // .button-row end
