@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-font: Montserrat, sans-serif;

$main-bg-color: #F0F0F0;
$second-bg-color: #FFF;
$main-text-color: #575757;
